body{
  background-color: $grey;
  height: 100%;
  font-size: 14px;
  main{
    margin-top: $navHeight;
    height: calc(100vh - 60px);
    overflow: scroll;
    padding: 20px 0;
    .field{
      textarea{
        height: 150px;
        resize: vertical;
      }
    }
    button.form_btn{
      border: none;
      cursor: pointer;
      width: 50%;
      height: 50px;
      line-height: 50px;
      background: $purewhite;
      transition: .1s linear;
      outline: none;
      i{
        margin-right: 10px;
      }
      &.cancel{
        color: $red;
        border-right: 1px solid rgba($grey, .3);
        &:hover{
          background: $red;
          color: $white;
        }
      }
      &.save{
        color: $green;
        &:hover{
          background: $green;
          color: $white;
        }
      }
    }
  }

  .right-in-left-out-enter{
    opacity: 0;
    transform: translateX(50px);
  }
  .right-in-left-out-enter-active, .right-in-left-out-leave-active{
    transition: .3s linear;
  }
  .right-in-left-out-leave-to{
    opacity: 0;
    transform: translateX(-50px);
  }

  .left-in-right-out-enter{
    opacity: 0;
    transform: translateX(-50px);
  }
  .left-in-right-out-enter-active, .left-in-right-out-leave-active{
    transition: .3s linear;
  }
  .left-in-right-out-leave-to{
    opacity: 0;
    transform: translateX(50px);
  }
}