#todo_list{
  .add_info{
    @include flex(flex-end, space-between);
    padding: 5px 0 10px 0;
    a.add_todo_btn{
      font-size: 0.8rem;
      padding: 5px 10px;
      background: $green;
      color: $white;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid rgba($darkgreen, .2);
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      @media (max-width: 478px) {
        position: fixed;
        bottom: 70px;
        right: 15px;
        z-index: 5;
        padding: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 3px 3px 10px rgba($darkgrey, .6);
        label{
          display: none;
        }
      }
      i{
        margin-right: 5px;
        @media (max-width: 478px){
          margin-right: 0;
        }
      }
      label{
        cursor: pointer;
      }
    }
    span{
      font-size: 0.6rem;
    }
  }
  .list_container{
    background: $white;
    border-radius: 0 0 5px 5px;
    @media (max-width: 478px) {
      border-radius: 5px;
    }
    .empty{
      padding: 10px;
      text-align: center;
      color: $grey;
    }
    .todo_list{
      padding: 5px;
      &:not(:last-of-type){
        padding-bottom: 0;
      }
    }
  }
}